<div class="wrapper">
    <h2><b>Impressum</b></h2>
    <p><strong>Projekt im Studiengang Medieninformatik an der Universität zu Lübeck </strong>
    <br>
    <p><strong>Anbieter:</strong></p>
    <p><span id="s3-t-ansprechpartner">Julia Plaumann</span><br><span id="s3-t-strasse">Fahlenkampsweg 5</span><br><span id="s3-t-plz">23562</span> <span id="s3-t-ort">Lübeck</span></p>
    
    <p><strong>Kontakt:</strong></p>
    <p><span id="s3-t-ansprechpartner">julia.plaumann@student.uni-luebeck.de</span></p>
        
</div>